= f.input :name, :placeholder => "Name", :label => false
= f.input :email, :placeholder => "E-mail", :label => false
= f.input :message,:input_html => { :cols => 20, :rows => 3 }, :placeholder => "A message", :label => false
.form-actions
  = f.submit 'Send', :class => "btn-large btn-inverse btn"
  = f.submit 'Cancel', :type => "reset", :class => "btn-large btn"