%head
  %meta{ :charset => "utf-8" }/
  %meta{ :content => "Matteo Borgato", :name => "author"}/
  %meta{ :content => "Matteo Borgato | Web developer, front-end, portfolio", :name => "description"}/
  %meta{ :content => "en", :name => "DC.Language"}/
  %meta{ :content => "Matteo Borgato", :name => "DC.Creator"}/
  %meta{ :content => "Matteo Borgato", :name => "DC.Publisher"}/
  %meta{ :content => "2012-03-03", :name => "DC.Date"}/

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}/
  
  = favicon_link_tag '/assets/favicon.ico'

  %title
    Matteo Borgato | Web Developer Front-end, Portfolio

  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Six+Caps"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cantata+One"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Mr+De+Haviland"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Josefin+Sans"
  
  = csrf_meta_tag