%head
  %meta{ :charset => "utf-8" }/

  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0"}/

  %title
    == #{ controller.controller_name.titleize } - #{ controller.action_name.titleize }

  %meta{ :name => "description", :content => "" }/

  = stylesheet_link_tag "application"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Six+Caps"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Cantata+One"
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Mr+De+Haviland"
  
  = csrf_meta_tag