%head
  %meta{ :charset => "utf-8" }/
  %meta{ :content => "Matteo Borgato", :name => "author"}/
  %meta{ :content => "Matteo Borgato | Front-end Engineer, Portfolio", :name => "description"}/
  %meta{ :content => "en", :name => "DC.Language"}/
  %meta{ :content => "Matteo Borgato", :name => "DC.Creator"}/
  %meta{ :content => "Matteo Borgato", :name => "DC.Publisher"}/
  %meta{ :content => "2013-06-06", :name => "DC.Date"}/

  -# Use the .htaccess and remove these lines to avoid edge case issues.
  -# More info: h5bp.com/b/378
  %meta{ 'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1' }/

  -# Mobile viewport optimized: h5bp.com/viewport
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }/

  = favicon_link_tag '/assets/favicon.ico'

  %title
    Matteo Borgato | Front-end Engineer, Portfolio

  -# Place favicon.ico and apple-touch-icon.png in the root directory: mathiasbynens.be/notes/touch-icons

  = render "stylesheets"

  -# Titolo grande
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Six+Caps"
  -# Corsivetto
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Mr+De+Haviland"
  -# Descrizione About
  = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Josefin+Sans"  


  -# More ideas for your <head> here: h5bp.com/d/head-Tips

  -# All JavaScript at the bottom, except polyfills
  = javascript_include_tag "polyfills"

  = csrf_meta_tag