!!! 5
= render "head"

%body{ :class => "#{ controller.controller_name }", "data-spy" => "scroll", "data-target" => ".navbar", "data-offset" => "50"}
  #fb-root

  -if controller.controller_name == "home"
    = render "header"

  #main{ :role => "main" }
    = yield

  = render "footer"