!!! 5
= render "head"

%body{ :class => "#{ controller.controller_name }", "data-spy" => "scroll", "data-target" => ".navbar", "data-offset" => "50"}
  = render "header"

  #main{ :role => "main" }
    = yield

  = render "footer"

  -# Javascript at the bottom for fast page loading
  = javascript_include_tag "application"